.rake_test_cache
.vagrant
.kitchen
*.lock
###
# Ignore Chef key files and secrets
###
.chef/
.chef

# OS X ignore files
_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
# ._*
#
# # Files that might appear on external disk
# .Spotlight-V100
# .Trashes
